.navbar .nav-item .nav-link:hover {
  background-color: #511d1c !important;
  color: white;
}

.navbar {
  height: 65px !important;
}

.navbar-toggler {
 
}

.navbar .nav-item .nav-link {
  font-size: 15px !important;
  padding: 18.75px 20px !important;
}

.navbar .navbar-text {
  padding: 19.5px !important;
}


.navbar .navbar-text:hover {
  background-color: #511d1c !important;
}

.navbar .navbar-text:hover a {
  color: white !important;
}

.navbar .navbar-text:hover i {
  color: #05be3d !important;
}
